* {
  box-sizing: border-box;
  background-color: rgb(57, 77, 110);
  text-align: center;
  align-items: center;
}

h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-style: italic;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

p {
  color: rgb(206, 206, 206);
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
}

span {
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.content {
  margin-top: -25px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: normal;
  font-style: normal;
  color: rgb(169, 169, 169);
}

body {
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.memo-image img {
  filter: blur(2px);
}

.memo-image img :hover {
  filter: blur(0);
}

.hd {
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;
}

header img {
  border-radius: 30%;
  display: flexbox;
  padding: 0.5rem;
  margin-top: 10px;
  border: 1px solid gray;
}

.hd-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 100px;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.471);
}

i {
  font-size: 17px;
}
div {
  margin-top: 100px;
  margin-bottom: 300px;
  display: flexbox;
}

#memo img {
  float: left;
  width: 225px;
  height: 225px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#memo img :last-child {
  margin-right: 0;
}

.menu * {
  display: inline;
}

.menu li {
  margin: 35px;
}

.menu li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.menu ul {
  padding-left: 0px;
}

.menu {
  font-size: 20px;
  font-style: italic;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-top: 20px;
}
