@media all and (max-width: 768px) {
  .art1-hid {
    display: none;
  }
  .hidden {
    display: none;
  }
}

@media all and (max-width: 1280px) {
  .menu1 {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: center;
}
.logo {
  margin-top: 10px;
}
.menu1 ul {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

.hd-img {
  height: 300px;
  background-image: url("../img/01.png");
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  display: flex;
  flex-direction: column;
}

.menu2 {
  position: absolute;
  height: auto;
  width: 100%;
  background-color: rgb(245, 242, 238);
}

.menu2 ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0%;
}
.menu2 li {
  flex: 1;
  width: 40%;
  flex-basis: 18%;
}
ul li {
  padding: 20px;
  list-style: none;
}

.box1 {
  position: relative;
  width: 90px;
  height: 90px;
}

.img1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.box1:hover .img2 {
  display: block;
}

a {
  text-decoration-line: none;
  color: rgb(43, 43, 43);
  font-weight: 700;
  align-items: center;
}

.menu2 a {
  text-decoration-line: none;
  color: gray;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.art1 a {
  display: flex;
  width: 160px;
  padding: 10px;
}

a:hover {
  color: rgb(183, 0, 80);
}

.art1 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 200px;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: row;
}

.notice-header {
  display: flex;
  height: 100px;
}

.notice-content li:hover {
  background-color: rgb(233, 233, 233);
  text-decoration-line: underline;
  color: rgb(183, 0, 80);
}

.notice-img {
  width: 50%;
}

.notice-img img {
  max-width: 100%;
  max-height: 100%;
}
