/* 2560px 미만이 되는 순간부터 적용 */
@media all and (max-width: 2560px) {
  .section {
    display: flex;
  }

  .section1 {
    display: inline-block;
    width: 100em;
  }

  .section1_warp {
    display: inline-block;
    justify-content: center;
    width: 100em;
  }

  .sect1_notice {
    display: flex;
    border-top: 0.1em solid gray;
    border-bottom: 0.1em solid gray;
  }

  .sect1_notice li {
    display: inline-block;
    padding: 1.7em;
  }

  .section1_warp ul {
    display: inline-block;
  }

  .section1_warp li {
    display: inline-block;
    justify-content: flex-start;
  }

  .sect1_notice span {
    font-size: 1.7rem;
  }

  .sect1_content ul {
    text-align: left;
  }
  .sect1_content li {
    display: flex;
    padding: 16px;
    font-size: 1.2rem;
  }

  .section2 {
    display: inline-block;
    width: 100em;
    height: 40rem;
    padding: 30px;
    overflow: hidden;
  }

  .section2 > .banner1 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
  }
}

/* 390px미만에서 적용 */
@media all and (max-width: 390px) {
  .section {
    flex-wrap: wrap;
  }
  .section1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .sect1_warp {
    font-size: 3px;
  }

  .section2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 60%;
  }
  .sect1_notice {
    font-size: 3px;
    border-top: 0.1em solid gray;
    border-bottom: 0.1em solid gray;
  }
  .sect1_notice span {
    font-size: 6em;
    color: palevioletred;
    font-weight: bold;
  }

  .sect1_content li {
    font-size: 4em;
    padding: 10px;
  }

  .section2 > .banner1 {
    width: 100%;
    height: 60%;
    object-fit: cover;
    overflow: hidden;
  }
}
