/* 1440px 미만이 되는 순간부터 적용 */
@media all and (max-width: 1440px) {
  .section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .section1 {
    display: inline-block;
    width: 50%;
  }

  .section1_warp {
    display: inline-block;
    justify-content: center;
    width: 50%;
    height: 50%;
  }

  .sect1_notice {
    display: flex;
    border-top: 0.1em solid gray;
    border-bottom: 0.1em solid gray;
  }

  .sect1_notice li {
    display: inline-block;
    padding: 1.7em;
  }

  .sect1_notice span {
    font-size: large;
    font-weight: bold;
    color: rgb(222, 115, 161);
  }

  .section1_warp ul {
    display: inline-block;
  }

  .section1_warp li {
    display: inline-block;
    justify-content: flex-start;
  }

  .sect1_notice span {
    font-size: 1.7rem;
  }

  .sect1_content ul {
    text-align: left;
  }
  .sect1_content li {
    display: flex;
    padding: 16px;
    font-size: 1.2rem;
  }

  .section2 {
    display: inline-block;
    width: 50%;
    height: 30%;
    padding: 20px 30px;
    overflow: hidden;
  }

  .banner1 {
    width: 100%;
    height: 700px;
    object-fit: cover;
    overflow: hidden;
    padding: 20px 30px;
  }

  .section2 > .banner1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

/* 1024px미만에서 적용 */
@media all and (max-width: 1024px) {
  .section1 {
    display: none;
  }
}
/* 390px미만에서 적용 */
@media all and (max-width: 390px) {
  .section {
    flex-wrap: wrap;
  }
  .section1 {
    display: none;
  }

  .section2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .section2 > .banner1 {
    width: 100%;
    height: 60%;
    object-fit: cover;
    overflow: hidden;
  }
}
