header {
  padding: 100px;
  text-align: center;
}
.img {
  display: inline-block;
  vertical-align: top;
}
.img img {
  max-height: 400px;
  width: auto;
  object-fit: cover;
}

.hd-t {
  padding-left: 100px;
  padding-top: 30px;
  display: inline-block;
}
section {
  text-align: center;
}

section img {
  width: 50px;
  height: 50px;
}
.art1,
.art2 {
  display: inline-block;
  text-align: center;
  padding: 50px;
}

.art3 {
  padding: 50px;
}

ul {
  padding: 0%;
}

ul li {
  list-style: none;
  padding: 10px;
}

nav ul li {
  display: inline-block;
}
footer {
  text-align: center;
}

footer img {
  width: 200px;
  height: 200px;
}

footer div {
  display: inline-block;
  padding-inline: 50px;
}
