header {
  width: 800px; /* content영역에 지정됨*/
  margin: 0 auto;
  border-bottom: 1px solid gray; /*border은 padding까지 적용됨 */
  padding: 30px;
  box-sizing: border-box; /*그러므로 width속성값을 border,padding까지 포함되게 변경해줌*/
}
.hd_photo {
  width: 400px;
  height: auto;
  object-fit: contain;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.hd_photo img {
  overflow: auto;
  width: 65%;
  object-fit: contain;
  align-items: center;
  box-shadow: 5px 5px 5px gray;
  border-radius: 20%;
}
.hd_contact {
  width: 400px;
  display: flex;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: 11px;
  color: rgb(123, 123, 123);
}
.hd_contact i {
  padding: 10px;
  justify-content: center;
}

.hd_text {
  font-size: small;
  color: rgb(54, 54, 54);
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.hd_text span {
  padding: 5px;
}

.hd_blog {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
}
.hd_blog a {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.photoinfo {
  height: 500px;
  text-align: center;
  /* padding: 50px 50px; */
}

.hd_info {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
