.section {
  width: 800px;
  height: auto;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.learn img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  justify-content: center;
}

.section img {
  width: 100px;
  height: 100px;
  padding: 20px;
}
