* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./imgs/background2.jpeg");
  /* background-repeat: no-repeat; */
  background-size: auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(64, 55, 86);
}

.container {
  width: 960px;
  margin: 0 auto;
}

nav {
  height: 60px;
  background-color: rgba(178, 172, 238, 0.743);
  line-height: 60px;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

.nav-logo {
  font-size: 25px;
  float: left;
  margin: 0;
}

.nav-menu {
  float: right;
}

.nav-btn {
  list-style-type: none;
  margin: 0;
}

ul.nav-btn > li {
  float: left;
  margin-left: 25px;
  font-size: 20px;
  font-weight: bold;
}

/* header */

.hd {
  position: relative;
  height: 1000px;
  text-align: center;
}

.hd-title {
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 100px;
  color: rgb(237, 221, 255);
  -webkit-text-stroke: 1.5px #2e2e2e;
}

.hd-subtitle {
  font-size: 20px;
  margin-top: -110px;
  margin-bottom: 10px;
  padding-top: 100px;
}
/* display: inline-table;
  position: relative;
  overflow: hidden;
}

.hd-subtitle p {
  position: relative;
  z-index: 2;
}

.hd-subtitle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #9376bd;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
} */

/* section */
.window1-pic {
  float: left;
  width: 300px;
  margin-right: 30px;
  margin-top: -750px;
}

.window1-pic img {
  width: 200px;
  height: auto;
  border: 3px;
  border-radius: 70%;
  border-style: solid;
  border-color: #000000;
  border-image-outset: 10px;
}

/* footer */

.ft {
  padding: 5px;
  text-align: center;
  background-color: rgba(121, 117, 170, 0.695);
  font-weight: bold;
  list-style-type: none;
  margin: 0;
}
