* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
}

h3 {
    font-size: 25px;
}

/* header */
video {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.nav-logo {
    margin: 20px 0 0 70px;
}

h1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 70px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* section */
/* who am i? */
#profile {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}

.pr {
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.me {
    height: 390px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.me h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 50px;
}

.baby {
    font-size: 5px;
    margin-top: 50px;
    margin-bottom: 0;
}

.baby p {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

.addProfile {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}

.edu{
    width: 400px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: 25px;
    margin-bottom: 50px;
}

.edu p {
    float: left;
    width: 200px;
}

.act {
    width: 400px;
    margin-left: 0;
    margin-right: 160px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.act p {
    float: left;
    width: 200px;
}

/* favorite*/
#favorite {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}

audio {
    margin: 20px 0 20px 0;
}

.img {
    margin-top: 40px;
}

.img img {
    width: 220px;
    height: 320px;
    margin: 10px 50px 0 50px;
}

/* hobby */
#hobby {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}

/* study */
#study {
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    align-items: center;
}

.language img {
    width: 50px;
    height: 50px;
    margin: 30px 10px 0 10px;
}

/* footer */
.ft {
    position: relative;
    text-align: center;
    padding: 50px 0;
}

.cont h3 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.cont i {
    margin-right: 10px;
    margin-left: 40px;
}

.cont a {
    margin-right: 30px;
}

footer a {
    text-decoration: none;
    color: black;
}
