* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    padding: 50px;
    font-family: 'Gowun Dodum', sans-serif;
}

h3 {
    font-size: 25px;
}

/* header */
.hd {
    position: relative;
    height: 450px;
    text-align: center;

}

.pr {
    float: left;
    margin-left: 250px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.me {
    float: right;
    height: 390px;
    margin-left: 80px;
    margin-right: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.me h1 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 50px;
}

.baby {
    font-size: 5px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.baby p {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}


/* section */
.sec {
    height: 850px;
    text-align: center;
} 

.edu{
    float: left;
    width: 400px;
    margin-left: 131px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.edu p {
    float: left;
    width: 200px;
}

.act {
    float: right;
    width: 400px;
    margin-left: 80px;
    margin-right: 131px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.act p {
    float: left;
    width: 200px;
}

.hb h3 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.sec article {
    float: left;
    width: 300px;
    margin-right: 55px;
    margin-left: 55px;
}

.sec article:last-child {
    margin-right: 0;
}

.sec article img{
    width: 100%;
    height: auto;
}

.card-img {
    overflow: hidden;
    width: 300px;
    height: 400px;
}

.sec::after {
    content: "";
    display: block;
    clear: both;
}

/* footer */
.ft {
    position: relative;
    text-align: center;
}

.cont h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cont i {
    margin-right: 10px;
}

.cont a {
    margin-right: 30px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

