* {
  font-family: "Noto Serif KR", serif;
  box-sizing: content-box;
  margin: 10px;
}
@media (max-width: 992px) {
  .menulogo {
    color: rgb(252, 252, 252);
  }
}

.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.logopic {
  display: flex;
  flex-direction: flex;
  width: 200px;
  height: 100px;
  margin-right: 100px;
}
.menu {
  display: flex;
  justify-content: center;
}
.menulogo {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
}
.menulogo li {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100px;
  padding: 5px 5px;
  text-align: center;
}
.top_pic {
  width: 100%;
  text-align: center;
}
.logo {
  display: flex;
  justify-content: center;
}
.bottomlogo {
  background-color: rgb(239, 239, 239);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottomlogo li {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 5px 5px;
  height: 100px;
  text-align: center;
  margin-right: 30px;
}
.bottomlogo li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomlogo li img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
}
.news {
  display: flex;
  width: 100%;
  height: 500px;
  text-align: center;
  justify-content: center;
}
